@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

@font-face {
    font-family: HelveticaRegular;
    src: url(/assets/css/fonts/HelveticaNowText-Regular.otf)format("opentype");
}

@font-face {
    font-family: HelveticaMedium;
    src: url(/assets/css/fonts/HelveticaNowText-Medium.otf)format("opentype");
}

@font-face {
    font-family: Molot;
    src: url(/assets/css/fonts/Molot.otf)format("opentype");
}


body {
    font-family: "HelveticaMedium", Impact, Serif;
    height: 100%;
    /* Background from  https://gradienta.io/ */
    background: linear-gradient(235deg, #FFFFFF 0%, #000F25 100%), linear-gradient(180deg, #6100FF 0%, #000000 100%), linear-gradient(235deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%), linear-gradient(125deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%);
    background-blend-mode: soft-light, screen, darken, normal;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

}

.contact-container {
    /* Background customized from  https://gradienta.io/ */
    background: linear-gradient(90deg, #D6B872 0%, #D6B87F 40%, #A3EB7F 40%, #A3EB7F 60%, #9FCCD1 60%, #9FCCD1 70%, #FA7F7A 70%, #FA7F7A 100%);
}

.sale span {
    background-color: transparent;
    /* text Shadow  found here https://css3gen.com/css3-text-effects/ */
    color: #d9d9d9;
    text-shadow: #2e2e2e 0 4px 5px;
}

h1 {
    font-family: "Molot", Impact, Serif;
}

/*  ...Custm Bootstrap Navigation */
.navbar .navbar-brand {
    font-family: "Molot", Impact, Serif;
    color: aliceblue;
    font-size: 34px;
    max-height: 40px;
    max-width: 30%;
    letter-spacing: 2.5px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    top: 15px;
    left: 10px;
    text-shadow: #2e2e2e 0 4px 5px;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}

.my-navbar {
    font-family: "HelveticaMedium", Impact, Serif;
    background-color: transparent;
    width: 100%;
    z-index: 3;
}

a.nav-link {
    font-size: 18px;
}

.navbar-nav .nav-link {
    /* Text Shadow https://css3gen.com/css3-text-effects/ */
    color: #d9d9d9;
    text-shadow: #2e2e2e 0 4px 5px;
    letter-spacing: 2.2px;
    font-weight: 600;
    letter-spacing: 2.5PX;
    font-size: 26px;
}

.fa-shopping-cart:before {
    color: #ff4301;
}

.navbar-nav>.active>a>i {
    color: #ff4301;

}

.navbar-nav a i {
    color: #FA7F7A;

}

.navbar-nav>.active>a {
    background-color: rgba(184, 137, 250, 0.6);
    color: #fff;
    border-radius: 30%;
    background-opacity: 0.7;
}


.navbar-expand-lg ul {
    padding-top: 20px;
}

/*  ...........................//.Navigation */

/* .................................................Home Page*/
/*  Speech bubble inspired from https://www.youtube.com/watch?v=4n-HajZScKQ  */
.bubble-box {
    font properties and colours margin: 0;
    background: transparent;
    font-size: 25px;
    font-family: "Sniglet", cursive, Serif;
    font-weight: 800;
    display: flex;
    width: 300px;
}

.speech-bubble {
    font-size: 26px !important;

}

.speech-bubble,
.speech-bubble2 {
    color: black;
    text-shadow: white 0px 0px 10px;
    background-color: #ffdcfd;
    padding: 0.5em 1em;
    position: relative;
    border-radius: 0 0.25em 0.25em 0.25em;
    box-shadow: 7px 30px 40px #0e0370c5;
    transition: 0.5s;
    /*custom code */
    font-family: "Sniglet", cursive, Serif;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1.4px;
    font-weight: 600;
    -webkit-animation: speech 0.7s linear 1;
    animation: speech 0.7s linear 1;

}

.speech-bubble2::after,
.speech-bubble::after {
    content: "";
    position: absolute;
    border: 0.5em solid transparent;
    border-top-color: #ffdcfd;
    border-right-color: #ffdcfd;
    right: 100%;
    top: 0%;
    transform: skewY(20deg);
    transform-origin: 100% 100%;
}

.title {
    color: #FA7F7A;
}

/* //  inset border style inspired from "https://tympanus.net/Tutorials/BasicReadyToUseCSSStyles/" */
.social-media {
    background: #2d2926ff;
    box-shadow: inset 0 0 7px 4px rgba(75, 71, 71, 0.836);
    box-shadow: 7px 30px 40px #0e0370c5;

}

.social-menuitem {
    text-align: center;
    padding-bottom: 20px;
}

.social-menuitem a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 2px;
}

.social-menuitem a i {
    font-size: 100px;
    display: block;
}

.social-media a:hover {
    color: #ff4301;

}

/* Video modal Gallery from https://mdbootstrap.com/plugins/jquery/video/ */
/*Customized Social Links and image borders on modals*/
@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

.btn-sm {
    padding: 0.25rem 0.25rem;
    font-size: 1.5rem;
    line-height: 2.5;
    border-radius: 0.2rem;
}

.showcase-video {
    background: #fff;
    border: 2px solid #da50fa;
    box-shadow: 7px 30px 40px #0e0370c5;
    margin-bottom: 10px;

}

.embed-responsive-16by9 {
    min-height: 315px;
}

.showcase-text {
    padding: 25px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 3px;
    line-height: 1.5;
    min-height: 315px;
    text-shadow: 0.1px 0.1px 0.1px #000;
    box-shadow: 7px 30px 40px #0e0370c5;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 20px solid #fff;
    background: rgba(100%, 71%, 98%, 0.9);
    margin: 10px;

}

.modal-open {
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.showcase-link,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

/*Customized Social Links and image borders on modals*/
.social-links.btn-fr {
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    line-height: 2.5;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    box-shadow: 7px 30px 40px #0e0370c5;
    cursor: pointer;
}

/*   .................... //Gallery */

/* .........................Contact US  */
/*Form "under the sea" https://www.mockplus.com/blog/post/contact-us-page-template*/
/* This for has been customized by myself */
form {
    margin: 0 auto;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    z-index: 5;
    overflow: hidden;
    /* Custon Code */
    color: #fff;
    padding: 40px;
    padding-right: 5px;
    padding-left: 45px;
    border-radius: 30%;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 20px solid #fff;
    background: rgba(0, 0, 0, 0.5);
    margin: 10px;
}

/* Copied inner border box from here  "https://stackoverflow.com/questions/9601357/placing-border-inside-of-div-and-not-on-its-edge"  */
.form+.form {
    border: 10px solid #fff;
}

label,
input,
textarea {
    display: block;
    width: 80%;
}

input,
textarea {
    width: 90%;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-family: "Sniglet", cursive, Serif;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #da50fa;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    border: solid 3px #da50fa;
}

textarea {
    height: 100px;
    resize: none;
    overflow: auto;
}

input[type="submit"] {
    background-color: #f26444;
    color: white;
    height: 50px;
    width: 80%;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.29em;
    font-family: "Sniglet", cursive, Serif;
    transition: background-color 0.5s;
}

input[type="submit"]:hover {
    background-color: #f26444;
}

label {
    font-size: 1.5em;
    margin-top: 20px;
    padding-left: 20px;
}

div.contact-box {
    color: black;
    text-shadow: white 0px 0px 10px;
    font-family: "Sniglet", cursive, Serif;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1.4px;
    font-weight: 600;
    padding: 25px;
    position: relative;
    background-color: #ffdcfd;
    border-radius: 0 0.25em 0.25em 0.25em;
    box-shadow: 7px 30px 40px #0e0370c5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 20px solid #492177;
    /*Custom colours*/
    margin: 10px
}

/* Blinkin text coopied "https://html-online.com/articles/blinking-text-css-animation/" 
see also transitions CSS */
.comming-soon {
    color: rgb(218, 216, 216);
    text-align: center;
    font-size: 18px;
    padding: 10px;
    height: 210px;
    width: 25%;
    position: fixed;
    top: 550px;
    left: 25px;
    box-shadow: 7px 30px 40px #0e0370c5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 20px solid #fff;
    /*Custom colours*/
    background: rgba(0, 0, 0, 0.5);
    margin: 10px;
}

/* Copied inner border box from here  "https://stackoverflow.com/questions/9601357/placing-border-inside-of-div-and-not-on-its-edge"  */
.commingsoon+.commingsoon {
    border: 10px solid #fff;
}

/* End boder box snippit */
/* ......................................................*Footer       */
footer {
    background-color: aliceblue;
    height: 100%;
    border-top: solid 2px#da50fa;
}

.social-links.btn-fr {
    padding: 0.25rem 0.5rem;
    font-size: 2rem;
    line-height: 2.5;
}

.footer-item a i {
    padding-top: 8px;
    display: inline-block;
    font-size: 25px;
    color: #f26444;
}

.footer-item a {
    width: 100%;
    text-decoration: none;
    color: black;
    height: 100px;
    letter-spacing: 2px;
    font-size: 16px;

}

footer .footer-title {
    color: #6a2c70;
    font-weight: 400;
    letter-spacing: 3px;
}

footer p {
    letter-spacing: 2px;
}

/*.................................//*Footer */

/* ........................Art page Flex Grid */
/* Flex Grid from W3School https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.row .art-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    box-shadow: 7px 30px 40px #0e0370c5;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* .....................///.Art Flex Grid */
/* ..........Home Page..................Media Queries */
@media (max-width: 575px) and (max-width: 767px) {
    svg.my-fig {
        height: 500px;
        width: auto;
        position: relative;
        top: 350px;
        right: 115%;
        display: block;

    }

    .social-media {
        position: relative;
        top: 200px;
    }

    .footer-home {
        position: relative;
        top: 190px;
    }

    .speech-bubble2::after,
    .speech-bubble::after {
        border-top-color: #ffdcfd;
        border-right-color: #ffdcfd;
        right: 80%;
        top: 100%;
        transform: skewY(5deg);
        transform-origin: 100% 100%;
    }


    .speech-bubble,
    .speech-bubble2 {
        border-radius: 0.25em 0.25em 0.25em 0.25em;
    }



}