@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

@font-face {
    font-family: HelveticaRegular;
    src: url(/assets/css/fonts/HelveticaNowText-Regular.otf)format("opentype");
}

@font-face {
    font-family: HelveticaMedium;
    src: url(/assets/css/fonts/HelveticaNowText-Medium.otf)format("opentype");
}

@font-face {
    font-family: Molot;
    src: url(/assets/css/fonts/Molot.otf)format("opentype");
}

/* I customimzed and changed colours taken from a pattern at https://gradienta.io/ */
body {
    font-family: "HelveticaMedium";
    height: 100%;
    background: linear-gradient(235deg, #FFFFFF 0%, #000F25 100%), linear-gradient(180deg, #6100FF 0%, #000000 100%), linear-gradient(235deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%), linear-gradient(125deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%);
    background-blend-mode: soft-light, screen, darken, normal;
    background-repeat: no-repeat;
    background-size: cover;
     backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
           
}
/* text shadow credit goes    https://stackoverflow.com/questions/23968961/css-how-can-i-make-a-font-readable-over-any-color    changed to 0.5*/
.sale span {
    color: #B889FA;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black;
}

h1 {
    font-family: "Molot";
}
/*  .........................................Customized Bootstrap Navigation */
.navbar .navbar-brand {
    font-family: "Molot";
    color: aliceblue;
    font-size: 34px;
    max-height: 40px;
    max-width: 30%;
    letter-spacing: 2.5px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    top: 15px;
    left: 10px;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}

.my-navbar {
    font-family: "HelveticaMedium";
    background-color: transparent;
    width: 100%;
    z-index: 3;
}

a.nav-link {
    font-size: 18px;
}

.navbar-nav .nav-link {
    color: #ffdcfd;
    letter-spacing: 2.2px;
    font-weight: 600;
    letter-spacing: 2.5PX;
    font-size: 26px;
    text-shadow:
        0.03em 0 black,
        0 0.03em black,
        -0.03em 0 black,
        0 -0.03em black;
}

.fa-shopping-cart:before {
    color: #ff4301;
}

.navbar-nav>.active>a>i {
    color: #ff4301;

}

.navbar-nav a i {
    color:#FA7F7A;

}
.navbar-nav>.active>a {
    background-color: rgba(184, 137, 250, 0.6);
    color: #fff;
    border-radius: 30%;
    background-opacity: 0.7;
}


.navbar-expand-lg ul {
    padding-top: 20px;
}
/*  ...........................//.Navigation */

/* .................................................Home Page*/
/* Added  customization and also with font properties and colours, original source found https://www.youtube.com/watch?v=4n-HajZScKQ*/
.bubble-box {
    margin: 0;
    background: transparent;
    font-size: 25px;
    font-family: "Sniglet", cursive;
    font-weight: 800;
    display: flex;
    width: 300px;
}

.speech-bubble {
    font-size: 26px !important;

}

.speech-bubble,
.speech-bubble2 {
    color: black;
    text-shadow: white 0px 0px 10px;
    background-color: #ffdcfd;
    padding: 0.5em 1em;
    position: relative;
    border-radius: 0 0.25em 0.25em 0.25em;
    box-shadow: 7px 30px 40px #0e0370c5;
    transition: 0.5s;
     /*custom code */
    -webkit-animation: speech 0.7s linear 1;
            animation: speech 0.7s linear 1;
    font-family: "Sniglet", cursive;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1.4px;
    font-weight: 600;

}

.speech-bubble2::after,
.speech-bubble::after {
    content: "";
    position: absolute;
    border: 0.5em solid transparent;
    border-top-color: #ffdcfd;
    border-right-color: #ffdcfd;
    right: 100%;
    top: 0%;
    transform: skewY(20deg);
    transform-origin: 100% 100%;
}

.title {
    color: #FA7F7A;
}

/* //  inset border style inspired from "https://tympanus.net/Tutorials/BasicReadyToUseCSSStyles/" */
.social-media {
    background: #2d2926ff;
    box-shadow: inset 0 0 7px 4px rgba(75, 71, 71, 0.836);

}

.social-menuitem {
    text-align: center;
    padding-bottom: 20px;
}

.social-menuitem a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 2px;
}

.social-menuitem a i {
    font-size: 100px;
    display: block;
}

.social-media a:hover {
    color: #ff4301;

}


/* Video modals copied from https://mdbootstrap.com/plugins/jquery/video/ */
/*Customized Social Links and image borders on modals*/
@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}
.btn-sm {
    padding: 0.25rem 0.25rem;
    font-size: 1.5rem;
    line-height: 2.5;
    border-radius: 0.2rem;
}

.showcase-video {
    background: #fff;
    border: 2px solid #da50fa;
    box-shadow: 10px 10px 8px;
    margin-bottom: 10px;

}

.embed-responsive-16by9 {
    min-height: 315px;
}

.showcase-text {
    padding: 25px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 3px;
    line-height: 1.5;
    min-height: 315px;
    text-shadow: 0.1px 0.1px 0.1px #000;
    background-color: #ffdcfd;
    box-shadow: inset 0 0 7px 4px rgba(255, 255, 255, .5);

}

.modal-open {
    bottom: 0;
  left: 0;
  margin: auto; 
  position: fixed;
  right: 0;
  top: 0;
}

.showcase-link,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

/*Customized Social Links and image borders on modals*/
.social-links.btn-fr {
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    line-height: 2.5;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border: 2px solid #153e99;
    box-shadow: 10px 10px 8px #6e0ae0;
}
/*   ............................................... //Gallery */

/* ...........................................................Contact US  */
/* orignial form is called "under the sea" found at https://www.mockplus.com/blog/post/contact-us-page-template 
Some custom colors and font properties in below code*/
/*................................................................................... Contact US  */
form {
    margin: 0 auto;
    width: 80%;
    color: black;
    position: relative;
    overflow: hidden;
    z-index: 5;
    overflow: hidden;
}

label,
input,
textarea {
    display: block;
    width: 80%;
}

input,
textarea {
    width: 80%;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-family: "Sniglet", cursive;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #da50fa;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    border: solid 3px #da50fa;
}

textarea {
    height: 100px;
    resize: none;
    overflow: auto;
}

input[type="submit"] {
    background-color: #f26444;
    color: white;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.29em;
    font-family: "Sniglet", cursive;
    transition: background-color 0.5s;
}

input[type="submit"]:hover {
    background-color: #f26444;
}

label {
    font-size: 1.5em;
    margin-top: 20px;
    padding-left: 20px;
}

.contact-box {
    color: black;
    text-shadow: white 0px 0px 10px;
    background-color: #ffdcfd;
    padding: 0.5em 1em;
    position: relative;
    border-radius: 0 0.25em 0.25em 0.25em;
    box-shadow: 7px 30px 40px #0e0370c5;
    transition: 0.5s;
    -webkit-animation: speech 0.7s linear 1;
            animation: speech 0.7s linear 1;
    /* More custom code */
    font-family: "Sniglet", cursive;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1.4px;
    font-weight: 600;
}

.comming-soon {
    color: rgb(218, 216, 216);
    text-align: center;
    height: 210px;
    width: 200px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
    font-size: 18px;
    padding: 10px;
    top: 120px;
    right: 95px;

}

/* ......................................................*Footer       */
footer {
    background-color: aliceblue;
    height: 100%;
    border-top: solid 2px#da50fa;
}

.social-links.btn-fr {
    padding: 0.25rem 0.5rem;
    font-size: 2rem;
    line-height: 2.5;
}

.footer-item a i {
    padding-top: 8px;
    display: inline-block;
    font-size: 25px;
    color: #f26444;
}

.footer-item a {
    width: 100%;
    text-decoration: none;
    color: black;
    height: 100px;
    letter-spacing: 2px;
    font-size: 16px;

}

footer .footer-title {
    color: #6a2c70;
    font-weight: 400;
    letter-spacing: 3px;
}

footer p {
    letter-spacing: 2px;
}

hr.new1 {
    border-top: 1px solid #808080;
    width: 40%;
}
/*.............................................//*Footer */

/* .........................................................Art page Flex Grid */
/* Flex Grid taken from W3School https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.row .art-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
/* ............................................///.Art Flex Grid */

/* .................Home Page....................................Media Queries */
@media (max-width: 575px) and (max-width: 767px) {
    svg.my-fig {
        height: 500px;
        width: auto;
        position: relative;
        top: 350px;
        right: 115%;
        display: block;

    }

    .social-media {
        position: relative;
        top: 200px;
    }

    .footer-home {
        position: relative;
        top: 190px;
    }

    .speech-bubble2::after,
    .speech-bubble::after {
        border-top-color: #ffdcfd;
        border-right-color: #ffdcfd;
        right: 80%;
        top: 100%;
        transform: skewY(5deg);
        transform-origin: 100% 100%;
    }


    .speech-bubble,
    .speech-bubble2 {
        border-radius: 0.25em 0.25em 0.25em 0.25em;
    }

}

@media (max-width: 575px) and (max-width: 767px) {

    label,
    input,
    textarea {
        display: block;
        width: 100%;
    }


}

