/* functions */
.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}


/* Colours */
#purple {
    color: #6a2c70;
}

.purple {
    color: #6a2c70;
}

.discord {
    color: #7289da;
}

.twitter {
    color: #00acee;
}

.reddit {
    color: #ff4301;
}

.red {
    color: #ff0000;
}

hr.new1 {
    border-top: 1px solid #808080;
    width: 40%;
}

